.dock {
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background: rgba(102, 102, 102, 0.637);
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.75rem;
  backdrop-filter: blur(5px);

  .icon {
    width: 35px;
    height: 35px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    aspect-ratio: 1/1;
    padding: 2px;

  }

    .icon:hover {
      transform: scale(1.3) translateY(-20%);
      transition: all 0.2s linear;
    }
    .icon:hover + .icon,
    .icon:has(+.icon:hover){
        transform: scale(1.1) translateY(-10%);
    }
  .github{
   background-color: black;
  } 
  .cli{
    background-color: black;
  }
  .booklet{
    background: linear-gradient(to bottom,rgb(255,179,87),rgb(255,153,28));
  }
  .pdf{
    background: linear-gradient(to bottom,rgb(255, 76, 85),rgb(255, 29, 40));
  }
  .calendar,
  .mail{
    background: linear-gradient(to bottom,rgb(105, 94, 255),rgb(66, 52, 255));
  }
  .spotify{
    background: linear-gradient(to bottom,rgb(78,176,133),rgb(53,142,22));
  }
  .link{
    background: linear-gradient(to bottom,rgb(163,97,170),rgb(142,33,170));
  }
}
